* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: sans-serif;
  background: transparent;
}

body {
  background: #efefef;
  padding: 30px 80px;
}

@media (max-width: 400px) {
  body {
    padding: 30px;
  }
}
